.header-all {
  z-index: 1;
}
.banner-part {
  background-color: #ebefee;
  height: 100vh;
  width: 75%;
  margin-top: 75px;
}
.images {
  position: relative;
  top: -30px;
  left: 210px;
  height: 600px;
  width: 900px;
  /* margin-left: 300px; */
}
.images2 {
  height: 500px;
  width: 1000px;
}
.discovers {
  height: 500px;
  width: 800px;
}
.search {
  position: relative;
  left: 32px;
  margin-right: 15px;
  opacity: 75%;
}
